body {
    font-family: 'Karla', sans-serif;
    line-height:30px;
    font-size: 18px;
    color:#444;
    margin:0;
}

.content {
    max-width:640px;
    padding:10px;
    margin:20px auto 0 auto;
}

h1, h2, h3 {
    font-family: 'Lato', sans-serif;
    font-weight:700;
    color:#000;
}

a {
    color:#0074D9;
    text-decoration:none;
}

a:hover {
    text-decoration:underline;
}

.footer {
    background:#eee;
}

.languages {
    position:absolute;
    top:10px;
    right:10px;
}

blockquote {
  padding:1px 20px;
  margin:10px 0;
  background:#eee;
}
