<!DOCTYPE html>
<html lang='{% if page.language %}{{ page.language }}{% else %}en{% endif %}'>
<head>
    <meta http-equiv='content-type' content='text/html; charset=utf-8' />
    <title>Simple Open Data</title>
    <link href='http://fonts.googleapis.com/css?family=Lato:700|Karla:400,700' rel='stylesheet' type='text/css'>
    <meta name='description' content='Simple Guide to Open Data' />
    <meta name='viewport' content='initial-scale=1.0 maximum-scale=1.0'>
    <link href='css/site.css' rel='stylesheet' type='text/css' />
</head>
<body>
  <div class='languages'>
      <a href='./'>English</a> /
      <a href='./index.ja.html'>日本語</a>
  </div>
  <div class='content'>
    {{ content }}
  </div>
  <div class='footer'>
      <div class='content'>
          <a href='https://github.com/tmcw/simpleopendata'>this is an open source, community-run project. contribute on github.</a><br />
          <a href='./more.html'>further reading.</a>
      </div>
  </div>
  <script type='text/javascript'>
    var _gauges = _gauges || [];
    (function() {
      var t   = document.createElement('script');
      t.type  = 'text/javascript';
      t.async = true;
      t.id    = 'gauges-tracker';
      t.setAttribute('data-site-id', '53037c4c92c6ac4a7b004176');
      t.src = '//secure.gaug.es/track.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(t, s);
    })();
  </script>
</body>
</html>
