<!DOCTYPE html>
<html>
<head>
    <meta http-equiv='content-type' content='text/html; charset=utf-8' />
    <title>Simple Open Data</title>
    <link href='http://fonts.googleapis.com/css?family=Lato:600|Karla:400,700' rel='stylesheet' type='text/css'>
    <meta name='description' content='Simple Guide to Open Data' />
    <meta name='viewport' content='initial-scale=1.0 maximum-scale=1.0'>
    <link href='css/site.css' rel='stylesheet' type='text/css' />
</head>
<body>
  <div class='content'>
    {{ content }}
  </div>
</body>
</html>
