<!DOCTYPE html>
<html>
<head>
    <meta http-equiv='content-type' content='text/html; charset=utf-8' />
    <title>Simple Open Data</title>
    <link href='http://fonts.googleapis.com/css?family=Lato:700|Karla:400,700' rel='stylesheet' type='text/css'>
    <meta name='description' content='Simple Guide to Open Data' />
    <meta name='viewport' content='initial-scale=1.0 maximum-scale=1.0'>
    <link href='css/site.css' rel='stylesheet' type='text/css' />
</head>
<body>
  <div class='content'>
    {{ content }}
  </div>
  <div class='footer'>
      <div class='content'>
          <a href='https://github.com/tmcw/simpleopendata'>this is an open source, community-run project. contribute on github.</a>
      </div>
  </div>
</body>
</html>
